langchain
langchain-core
langchain-openai
openai
langchain_classic
langchain-anthropic
langchain-google-genai
google-generativeai
langchain-huggingface
langchain_community
langchain_experimental
pypdf
transformers
python-dotenv
scikit-learn
torch
sentence-transformers
streamlit
grandalf